.codeview {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
}
.copycode {
    position: absolute;
    top: 1;
    right: 1;
    background-color: transparent;
    border-radius: 2x;
    border: 1px solid #ddd;
    cursor: pointer;
    margin: 2px 2px;
    padding: 2px 2px;
}
.copycode:hover {
    background-color: #ddd;
}
